
/*  layout  */
.layout-c-60 {
  width: 60%;
  margin: 0 auto;
}


/* alignment */
.block-center {
  margin: auto;
  width: 50%;
}

.txt-center {
  text-align: center;
}


/* gap */
.divGap-1_6em > div  {
  margin-top: 1.6em;
}

.divGap-0_6em > div  {
  margin-top: 0.6em;
}

.divGap-0_6em > li {
  margin-top: 0.6em;
}

/* color */
.red {
  color: red;
}


/*
 


*/


/* gap */



/* unicode */
.right-arrow::before {
  content: "\27A3";
}
