

{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="../static/style2.css">
{% endblock %}

{% block content %}


    <div class="container-fluid">
        <p></p>
        <h4>Welcome to my knot projects!</h4> 
    </div>

    <div class="container-fluid" >
        <h6>Nov, 2021</h6> 
        <div class="row ">
            <div class="col-1 ">
            </div>
            <div class="col-2 ">
                <img src="../static/alfie/img1.jpg" alt="first batch of zip pullers" width= 100>
            </div>
            <div class="col-9 px-5">
                <strong>Key ring decoration</strong> or <strong>zip pull</strong>  <br>
                The combination of the single and then the doubled boatswain's whistle lanyard knot.  <br>
                Made with 550 paracord [made in USA].
            </div>
        </div>
    </div>
    <br>
    

    <div class="container-fluid d-none d-sm-block">
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h6>More photos:</h6> 
                <img src="../static/alfie/img_black2.jpg" alt="black zip puller" width= 100>
                <img src="../static/alfie/img3_yellow.jpg" alt="yellow zip puller" width = 100>
                <img src="../static/alfie/img4_orange.jpg" alt="orange zip puller" width = 100>
                <img src="../static/alfie/img6_green.jpg" alt="green zip puller" width=100>
                <img src="../static/alfie/img5_play.jpg" alt="play" width=100>
                <img src="../static/alfie/img7_two_comparison.jpg" alt="stripped one" width=100>
            </div>
        </div>
    </div>

    <div class="container-fluid d-block d-sm-none w-100px">

        <div class="row">
            <div class="col-1"></div>
            <div id="carouselExampleIndicators" class="carousel col" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">

                <h6>More photos:</h6> 
                <div class="carousel-item active">
                  <img src="../static/alfie/img_black2.jpg" class="d-block w-10" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/alfie/img2_yellow_100.jpg" class="d-block w-10" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/alfie/img3_orange100.jpg" class="d-block w-10" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>




{% endblock %}
