


{% extends "base.html" %}

{% block content %}


    <div class="layout-c-60  body">
        <br>
        
    </div>

    {% for page in pages %}
        {% if page.path.startswith('others') %}
            <script>
                var newItem = $("<div></div>", {
                    "class": "body-item"})
                $(" <a href= {{ url_for('page', path=page.path) }} >  &#9834 {{ page.title}}</a> <br>").appendTo(newItem)
                $("<small> &nbsp; &nbsp; &#128197Published on {{page.date.strftime('%B %d, %Y')}} </small>").appendTo(newItem)  
                $("<small> &#9749Keywords: {{page.keywords}} </small> <br>").appendTo(newItem) 
                $(".body").append(newItem)
            </script>
            
        {% endif %}
    {% endfor %}

{% endblock %}
