

{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <p>
            <h4> {{page.title}} </h4>
            <small> &#128197Published on {{page.date.strftime('%B %d, %Y')}}   &#9749Keywords: {{page.keywords}}  </small> 
        </p>
        
        {{ page.html| safe }}


        <script src="https://utteranc.es/client.js"
                repo="lh6210/lh6210.github.io"
                issue-term="title"
                label="comment"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>


        <script src="https://giscus.app/client.js"
                data-repo="lh6210/lh6210.github.io"
                data-repo-id="R_kgDOGZD7yw"
                data-category="Announcements"
                data-category-id="DIC_kwDOGZD7y84B_9Cr"
                data-mapping="title"
                data-reactions-enabled="1"
                data-emit-metadata="0"
                data-theme="light"
                data-lang="en"
                crossorigin="anonymous"
                async>
        </script>
    </div>


{% endblock %}
