

{% extends "base.html" %}

{% block content %}
    <div class="container-fluid">
        <p>
            <h4> {{page.title}} </h4>
            <small> &#128197Published on {{page.date.strftime('%B %d, %Y')}}   &#9749Keywords: {{page.keywords}}  </small> 
        </p>
        
        {{ page.html| safe }}

        <!-- comment box -->
        <script src="https://utteranc.es/client.js"
                repo="lh6210/lh6210.github.io"
                issue-term="title"
                label="comment"
                theme="github-light"
                crossorigin="anonymous"
                async>
        </script>

    </div>


{% endblock %}
